.raw{
  width: 100%;
  margin: 0 auto;
}

.boughtPlace{
   width: 30px;
   height: 30px;
   display: inline-block;
   background-color: red;
}

.freePlace.checked{
   width: 30px;
   height: 30px;
   display: inline-block;
   background-color: green;
}

.freePlace{
   width: 30px;
   height: 30px;
   background-color: grey;
   display: inline-block;
}

.bookedPlace{
   width: 30px;
   height: 30px;
   display: inline-block;
   background-color: yellow;
}

.bookTicket, .buyTicket {
    padding: 15px 32px;
}

