.ticket {
    width:330px;
    height:220px;
    background:blue;
}

  .container {
    width: 795px;
    margin: 0 auto;
    font-size: 25px;
    font-family: "Kreon", serif;
  }

  section {
    position: relative;
    float: left;
    width: 685px;
  }
  section .special {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    height: 47px;
    padding: 10px 150px 0;
    background-color: #494140;
    color: #fff;
    text-align: center;
  }
  section .special:nth-child(2n+1) {
    background-color: #93ACA2;
  }
  section .special:nth-child(6), section .special:nth-child(7) {
    z-index: 1;
  }
  section .circle {
    position: absolute;
    top: 10px;
    left: 215px;
    width: 255px;
    height: 255px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 30px;
    z-index: 1;
  }
  section .circle .event {
    width: 150px;
    margin: 25px auto 25px;
    font-size: 1.12em;
    font-weight: 700;
    text-transform: uppercase;
  }
  section .circle .title {
    color: #93ACA2;
    font-family: "Lobster", cursive;
    font-size: 2.48em;
  }
  section .seats {
    position: absolute;
    top: 10px;
    left: 30px;
    color: #fff;
    font-weight: 700;
  }
  section .seats span {
    display: inline-block;
  }
  section .seats .label {
    width: 40px;
    margin-right: 20px;
    padding-top: 8px;
    font-size: 0.36em;
    font-weight: 400;
    text-align: right;
    text-transform: uppercase;
    vertical-align: top;
  }

  aside {
    float: right;
    width: 110px;
  }
  aside figure {
    height: 100%;
    margin: 0;
    text-align: center;
  }
  aside figure img {
    margin-top: 25px;
  }